/* 1440px */
@media (min-width: 90rem) {
    .container {
        /* 384px */
        max-width: 24rem;
        /* 218px */
        margin: 13.625rem auto;
        transition: all .2s ease;
    }

    .container:hover {
        box-shadow: 1rem 1rem 0 0 var(--black);
        transform: translate(-1%, -1%);
    }

    .content {
        /* 25.008px */
        line-height: 1.563;
    }

    .tag,
    .publish-date {
        /* 14px */
        font-size: .875rem;
    }

    .title {
        /* 24px */
        font-size: 1.5rem;
    }

    .p {
        font-size: 1rem;
    }

    .title a {
        transition: color .2s ease-in;
    }

    .title a:hover {
        color: var(--yellow);
    }

    .attribution {
        font-size: 1rem;
    }
}
